body, html {
    margin: 0;
    padding: 0;
}

html, body, #app, .main-layout {
    height: 100%;
}

body {
    background-color: $gray-1;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.el-header{
    background-color: $green;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;

}
.tabla {
    margin-top: 10px;
    width: 30%;

}
.formu1 {
    style: 40%;
    margin-top: 10px;
    width: 40%;
}
.el-card {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}
.salir {
    text-align: right;
    margin-right: 50%;
    padding-left: 93%;

}





