<template>
    <Layout>
        <el-row>
            <h1>Actualizar Usuario</h1>
        </el-row>

        <el-card shadow="never">
            <el-form ref="form" :model="form" :rules="rules">
                <el-form-item label="Usuario" prop="username">
                    <el-input type="text" v-model="form.username"></el-input>
                </el-form-item>
                <el-form-item label="Contrasena" prop="username">
                    <el-input type="password" v-model="form.password"></el-input>
                </el-form-item>
                <el-form-item label="Confirmar Contrasena" prop="checkPass">
                    <el-input type="password" v-model="form.checkPass"></el-input>
                </el-form-item>
                <el-form-item style="text-align: right;">
                    <el-button type="primary" @click="submit">Actualizar</el-button>
                </el-form-item>
            </el-form>
        </el-card>


    </Layout>
</template>
<script>

    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },
        data() {
            return{
                form: {
                    username: '',
                    password: '',
                    checkPass: '',

                },
                rules: {
                    username: {required: true, message: 'El usuario es requerido'},

                }

            }
        },
        methods: {
            submit(){
                if (this.form.password === this.form.checkPass){
                    this.$refs.form.validate(() => {
                        this.$inertia.put('/users/' + this.form.id, {
                            username: this.form.username,
                            password: this.form.password
                        })
                    });

                }else{
                    this.$message({
                        message: 'Las contrasenas no concuerdan',
                        type: 'error'
                    })
                }
            }
        },
        mounted() {
            if (this.$page.user){
                this.form = this.$page.user;
            }

        }


    }

</script>
