<template>
    <layout>
        <el-card class="el-card">
            <el-form :model="reg_form" ref="reg_form" :rules="reg_rules">

                <el-form-item label="Nombre del Cliente" prop="nombrecliente">
                    <el-input v-model="reg_form.nombrecliente" placeholder="Nombre del Cliente"></el-input>
                </el-form-item>

                <el-form-item label="Contacto" prop="contacto">
                    <el-input v-model="reg_form.contactocliente" placeholder="Contacto"></el-input>
                </el-form-item>

                <el-form-item label="Nombre de Mascota" prop="nombredemascota">
                    <el-input v-model="reg_form.nombremascota" placeholder="Nombre de Mascota"></el-input>
                </el-form-item>

                <el-form-item label="Tipo de Mascota" prop="tipodemascota">
                    <el-input v-model="reg_form.tipomascota" placeholder="Tipo de Mascota"></el-input>
                </el-form-item>

                <el-form-item label="Edad de Mascota" prop="edaddemascota">
                    <el-input v-model="reg_form.edadmascota" placeholder="Edad de Mascota"></el-input>
                </el-form-item>

                <el-form-item label="Proposito de Cita" prop="propositodecita">
                    <el-input v-model="reg_form.propositocita" placeholder="Proposito de Cita"></el-input>
                </el-form-item>

                <el-form-item label="Peso de Mascota" prop="pesodemascota">
                    <el-input v-model="reg_form.pesomascota" placeholder="Peso de Mascota"></el-input>
                </el-form-item>

                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert style="margin-bottom: 5px" v-for="(er, index) in error" :key="index" type="error" :title="er" :closable="false"></el-alert>
                    </div>
                </div>

                <div style="text-align: center">
                    <el-button type="primary" @click="submit()">Registrar</el-button>
                </div>
            </el-form>
        </el-card>
    </layout>

</template>
<script>
    import Layout from "../../Shared/Layout";
    export default {
        data() {
            return {
                registerDialogVisible: false,
                reg_form: {
                    nombrecliente: '',
                    contactocliente: '',
                    nombremascota: '',
                    tipomascota: '',
                    edadmascota: '',
                    propositocita: '',
                    pesomascota: ''

                },
                reg_rules: {
                    nombrecliente: {required: true, message: 'El nombre del cliente es requerido'},
                    contacto: {required: true, message: 'El contacto del cliente es requerido'},
                    nombredemascota: {required: true, message: 'El nombre de la mascota es requerido'},
                    tipodemascota: {required: true, message: 'El tipo de mascota es requerido'},
                    edaddemascota: {required: true, message: 'La edad de la mascota es requerido'},
                    propositodecita: {required: true, message: 'El proposito de la cita es requerido'},
                    pesodemascota: {required: true, message: 'El peso de la mascota es requerido'},

                }
            }
        },
        methods: {
            submit() {
                this.$refs.reg_form.validate(() => {
                    this.$inertia.post('/', {
                        nombrecliente: this.reg_form.nombrecliente,
                        contactocliente: this.reg_form.contactocliente,
                        nombremascota: this.reg_form.nombremascota,
                        tipomascota: this.reg_form.tipomascota,
                        edadmascota: this.reg_form.edadmascota,
                        propositocita: this.reg_form.propositocita,
                        pesomascota: this.reg_form.pesomascota,
                    });
                } );
            }
        },
        mounted() {
            if (this.$page.citas) {
                this.citas = this.$page.citas;
            }
        },
        components: {Layout}
    }

</script>
