    <template>
    <layout>
        <div>
            <div style="margin-top: 30px">
                <el-row>
                    <el-row>
                        <el-col :span="12">
                            <h1 style="text-align: left" >Registro de citas</h1>
                        </el-col>

                        <el-col :span="12" style="text-align: right">
                            <el-button @click="create" type="primary">Nueva cita</el-button>
                            <el-divider direction="vertical"></el-divider>

                        </el-col>

                        <el-divider direction="vertical"></el-divider>

                        <el-dropdown class="salir" trigger="click">
                            <el-button  type="primary" > Salir </el-button>
                            <el-dropdown-menu slot="dropdown">
                                <a href="/logout">
                                    <el-dropdown-item > Salir </el-dropdown-item>
                                </a>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </el-row>

                    <el-divider></el-divider>

                    <el-table :data="citas" style="width: 100%">

                        <el-divider></el-divider>
                        <el-table-column prop="nombrecliente" label="Nombre del cliente">

                        </el-table-column>
                        <el-table-column prop="contactocliente" label="Contacto">

                        </el-table-column>
                        <el-table-column prop="nombremascota" label="Nombre de la mascota">

                        </el-table-column>
                        <el-table-column prop="tipomascota" label="Tipo de mascota">

                        </el-table-column>
                        <el-table-column prop="edadmascota" label="Edad de la mascota">

                        </el-table-column>
                        <el-table-column prop="propositocita" label="Propósito de su visita">

                        </el-table-column>
                        <el-table-column prop="pesomascota" label="Peso de Mascota"></el-table-column>
                    </el-table>

                    <el-dialog :title="modalTitle" v-on:close="clearForm" :visible.sync="dialogVisible">
                        <el-form :model="form" ref="form" :rules="rules">
                            <el-form-item label="Nombre del cliente" prop="nombrecliente">
                                <el-input placeholder="Nombre del cliente" v-model="form.nombrecliente"></el-input>
                            </el-form-item>
                            <el-form-item label="Contacto" prop="contactocliente">
                                <el-input placeholder="Contacto" v-model="form.contactocliente"></el-input>
                            </el-form-item>
                            <el-form-item label="Nombre de la mascota" prop="nombremascota">
                                <el-input placeholder="Nombre de la mascota" v-model="form.nombremascota"></el-input>
                            </el-form-item>
                            <el-form-item label="Tipo de mascota" prop="tipomascota">
                                <el-input placeholder="Tipo de mascota" v-model="form.tipomascota"></el-input>
                            </el-form-item>

                            <el-form-item label="Edad de la mascota" prop="edadmascota">
                                <el-input placeholder="Edad de la mascota" v-model="form.edadmascota"></el-input>
                            </el-form-item>
                            <el-form-item label="Propósito de su visita" prop="propositocita">
                                <el-input placeholder="Propósito de su visita" v-model="form.propositocita"></el-input>
                            </el-form-item>
                            <el-form-item label="Peso de mascota" prop="pesomascota">
                                <el-input placeholder="Peso de mascota" v-model="form.pesomascota"></el-input>
                            </el-form-item>

                            <el-col>
                                <el-divider></el-divider>
                            </el-col>


                            <div style="text-align: center; padding-top: 10px">
                                <el-button :loading="loading" type="primary" @click="submit()">Registrar</el-button>
                            </div>
                        </el-form>
                    </el-dialog>
                </el-row>
            </div>
        </div>
    </layout>

</template>
<script>
    import Layout from "../../Shared/Layout";



    export default {
        components: {
            Layout

        },
        data() {
            return{
                baseUrl: '/',
                citas: [],
                mode: '',
                loading: false,
                dialogVisible: false,
                form:{
                    nombrecliente: '',
                    contactocliente: '',
                    nombremascota: '',
                    tipomascota: '',
                    edadmascota: '',
                    propositocita: '',
                    pesomascota: ''

                },
                rules: {
                    nombrecliente: {required: true, message: 'El nombre del cliente es requerido'},
                    contactocliente: {required: true, message: 'El contacto del cliente es requerido'},
                    nombremascota: {required: true, message: 'El nombre de la mascota es requerido'},
                    tipomascota: {required: true, message: 'El tipo de la mascota es requerido'},
                    edadmascota: {required: true, message: 'La edad de la mascota es requerida'},
                    propositocita: {required: true, message: 'El proposito de la cita es requerido'},
                    pesomascota: {required: true, message: 'El peso de la mascota es requerido'}

                },
            }
        },
        computed: {
            modalTitle() {
                return `${this.mode}`;
            },
        },
        methods: {
            clearForm(){
                this.$refs.form.resetFields();
            },
            create(){
                this.mode = 'Nuava Cita';
                this.dialogVisible = true;
            },
            submit(){
                this.$refs.form.validate(() => {
                    this.loading = true;
                    if(!this.form.id){
                        this.$inertia.post(this.baseUrl, {
                            nombrecliente: this.form.nombrecliente,
                            contactocliente: this.form.contactocliente,
                            nombremascota: this.form.nombremascota,
                            tipomascota: this.form.tipomascota,
                            edadmascota: this.form.edadmascota,
                            propositocita: this.form.propositocita,
                            pesomascota: this.form.pesomascota

                        }).then(
                            () => {
                                this.citas = this.$page.citas;
                                this.$message({
                                    type: 'succes',
                                    message: 'Su registro ha sido con exito.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    }else {
                        this.$inertia.put(this.baseUrl.this.form.id, {
                            nombrecliente: this.form.nombrecliente,
                            contactocliente: this.form.contactocliente,
                            nombremascota: this.form.nombremascota,
                            tipomascota: this.form.tipomascota,
                            edadmascota: this.form.edadmascota,
                            propositocita: this.form.propositocita,
                            pesomascota: this.form.pesomascota


                        })

                    }
                })
            }
        }
    }
</script>


