<template>
    <div>

        <el-card class="login" shadow="never">
            <el-form :model="form" ref="form" :rules="rules">
                <el-form-item label="Usuario" prop="username">
                    <el-input placeholder="Usuario" v-model="form.username"></el-input>
                </el-form-item>

                <el-form-item label="Contraseña" prop="password">
                    <el-input placeholder="Contraseña" show-password v-model="form.password"></el-input>
                </el-form-item>

                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert :closable="false" type="error" title="Ha sucedido un error"></el-alert>
                    </div>
                </div>

                <dive style="text-align: center; padding-top: 10px">
                    <el-button type="primary" @click="submit()">Entrar</el-button>
                </dive>
            </el-form>
        </el-card>

        {{$page.prop.errors}}








    </div>
</template>
<script>
    export default {
        data() {
            return {
                form:{
                    username: '',
                    password: '',
                },
                rules: {
                    username: {required: true, message: 'El ususario es requerido', trigger: 'blur'},
                    password: {required: true, message: 'La contrasena es requerido', trigger: 'blur'},

        }
            }
        },
        methods: {
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$inertia.post('/login', {
                            username: this.form.username,
                            password: this.form.password
                        });
                    }
                });

            }
        },
    }
</script>
